body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF9ED;
}

header {
    background-color: #F8A200;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo img {
    width: 10%;
    height: auto;
    
    background-color: #F8A200;
}

.buttons button {
    margin-left: 10px;
}

footer {
    background-color: #F8A200;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    stroke: none;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.text {
    flex-basis: 50%;
    text-align: center;
}


.Principal{
    align-items: center;
}

.Divinterna{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 60%;
    font-size: 1.5em;

    padding: 5%;
}

.Div1{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
 

}

.Div1 div{
    display: flex;
    padding: 5%;
    
}

.Divdentrodadiv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barinicio{
   width: 100%;
   background-color: #F8A200;
   height: 10vh;
   margin-top: -4px;
}

.alinhamento{
    display: flex;
    justify-content: space-between;
}

.minibar {
    width: 60px;
    height: 2px;
}

.minibar2 {
    width: 60px;
    height: 2px;
}

.WHO {
    color: #F8A200;
    font-size: 13px;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}



.texto {
   
    display: flex;
    margin-bottom: 80px;
    width: 50%;
    flex-direction: column;
    flex-shrink: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0;
    width: 80%;

}

.imagens {
    display: flex;
    align-items: center;
}

.texto2 {
    
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-shrink: 0;
}

.Discover {
    color: #08110C;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.Discover2 {
    color: #08110C;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}


.our {
    display: inline-flex;
    padding: 11px 28px;
    width: 15%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    color: #fff;
    border-radius: 50px;
    background: #F8A200;
}

.our2 {
    display: inline-flex;
    padding: 11px 28px;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    background: #F8A200;
}

.images {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 90px;
}

.images img {
    flex-basis: 48%;
    
}

.image {
    flex-basis: 30%;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
  
}


footer{
    background-color: #F8A200;
    padding: 60px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 30%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.our button {background-color: #F8A200;
border: none;
color: white;}

.our2 button {background-color: #F8A200;
    border: none;
    color: white;}
    

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 60%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #F8A200;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 65%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}

@media (max-width:950px) {

    .Div1{
        display: flex;
        flex-direction: column;
    }

    .Divdentrodadiv1{
        margin-bottom: 10%;
    }
    
    
}
